# Python / Backend
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.env
*.egg-info/
dist/
build/
*.log

# Node / Angular Frontend
node_modules/
frontend/dist/
frontend/.angular/cache/
frontend/dist/

# IDE
.vscode/settings.json
.idea/
*.suo
*.user

# OS
.DS_Store
Thumbs.db
